body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #dfdfdf;
}

.red { background: rgb(255, 27, 80); }
.text--white { color: white }

.strike{
    text-decoration: line-through;
    color: red;
}

.container{
    padding: 20px;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;}
input{
border: 1px dotted rgb(253, 67, 110);;
  }
button{
    border: none;
    height: 20px;
    width: 70px;
  }
button:hover{
    cursor: pointer;
    opacity: .8;
}
li:hover{
    cursor: pointer;
}
.item{
    font-style: italic;
    font-size: 14px;
}

.delete {
	display: none;
}

 .crossOutButton {
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
}