body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: #dfdfdf;
}

.red { background: tomato; }
.text--white { color: white }

.strike{
    text-decoration: line-through;
    color: red;
}
.delete {
    display: none;
  }
.container{
    padding: 20px;
    width: 300px;
    height: auto;
    margin: 0 auto;
    margin-top: 40px;
    background: white;
    border-radius: 5px;}
input{
border: 1px dotted tomato;
  }
button{
    border: none;
  }
button:hover{
    cursor: pointer;
    opacity: .8;
}
li:hover{
    cursor: pointer;
}
.item{
    font-style: italic;
    font-size: 12px;
}
